.nav {
  color: #434455;
  font-weight: 600;
  text-decoration: none;
}
.nav:hover {
  color: #4d5ae5;
  font-weight: 600;
}
.nav:focus {
  color: #4d5ae5;
  font-weight: 600;
}
.button-item {
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-weight: medium;
  size: 16px;
  line-height: 24px1.5;
  letter-spacing: 2%;
}
.button-item:hover {
  color: white;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: medium;
  size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}
.button-item:focus {
  color: white;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: medium;
  size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}
h3 {
  color: #2e2f42;
  font-weight: medium;
  size: 20px;
  letter-spacing: 2%;
}
.text-content {
  color: #2e2f42;
  size: 12px;
  line-height: 1.16;
  letter-spacing: 4%;
}
.adres {
  color: #434455;
  size: 12px;
  line-height: 1.16;
  letter-spacing: 4%;
}
.adres:hover {
  color: #4d5ae5;
  size: 12px;
  line-height: 1.16;
  letter-spacing: 4%;
}
.adres:focus {
  color: #4d5ae5;
  size: 12px;
  line-height: 1.16;
  letter-spacing: 4%;
}
.web-logo {
  color: #4d5ae5;
  text-transform: uppercase;
}
.studio-logo {
  color: #2e2f42;
  text-transform: uppercase;
}
a {
  color: #2e2f42;
}
